# 设置Expires头
<IfModule mod_expires.c>
	<FilesMatch "\.(html|css|md|pub|txt)$">
		ExpiresActive On
		ExpiresDefault "access plus 4 hours"
	</FilesMatch>
</IfModule>
<IfModule mod_alias.c>
	Redirect 301 /favicon.ico https://avatars.githubusercontent.com/u/93070974
</IfModule>
