# 设置Expires头
<IfModule mod_expires.c>
	ExpiresActive On
	# 静态资源文件设置长期缓存
	<FilesMatch "^(favicon\.ico|tracking\.js|dark\.css|id_rsa\.pub|google028d8e7da5110e2c\.html)$">
		ExpiresDefault "access plus 30 days"
	</FilesMatch>

	# 其他文件保持短期缓存
	<FilesMatch "^(index\.html|about\.html|friend-links\.html|README\.md|robots\.txt|sitemap\.xml)$">
		ExpiresDefault "access plus 4 hours"
	</FilesMatch>
</IfModule>

<IfModule mod_headers.c>
	# 设置 HSTS
	Header always set Strict-Transport-Security "max-age=31536000" env=HTTPS
	<FilesMatch "^(tracking\.js|dark\.css|id_rsa\.pub)$">
		# 设置CORS头部以允许跨域调用
		Header set Access-Control-Allow-Origin "*"
		Header set Access-Control-Allow-Methods "GET, OPTIONS"
		Header set Access-Control-Allow-Headers "Content-Type"
	</FilesMatch>
</IfModule>

# 将网站图标跳转到GitHub头像
<IfModule mod_alias.c>
	Redirect 301 /favicon.ico https://avatars.githubusercontent.com/u/93070974
</IfModule>

# 为SSH公钥文件设置正确的MIME type
<Files "id_rsa.pub">
	ForceType text/x-ssh-public-key
</Files>
